#messagebox {
	position: absolute;
	top: 1px;
	margin: 10px;
	margin-top: 0px;
	z-index:9999;
}

#messagebox  div.messages {
	margin: 0 20px 0 20px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

#messagebox  div.message {
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}

#messagebox  div.message div.image {
	margin: 2px 0 2px 5px;
	padding: 6px;
	float: left;
}

#messagebox  div.message div.image img {
	margin: 0;
	vertical-align: middle;
}

#messagebox  div.message div.text {
	margin: 0;
	padding: 10px 6px 10px 6px;
	float: left;
}

#messagebox  div.message div.dismiss {
	margin: 0;
	padding: 0;
	float: right;
}

#messagebox  div.message div.dismiss a {
	margin: 15px 14px 0 0;
	padding: 0;
	height: 16px;
	width: 16px;
	display: block;
	background: url("../icons/messages/cross.png") no-repeat;
}

#messagebox  div.message div.text h1,#messagebox  div.message div.text h2,#messagebox  div.message div.text h3,#messagebox  div.message div.text h4,#messagebox  div.message div.text h5,#messagebox  div.message div.text h6
	{
	margin: 0;
	padding: 0px;
	border: none;
}

#messagebox  div.message div.text span {
	margin: 0;
	padding: 5px 0 0 0;
	height: 1%;
	display: block;
}

#messagebox  div.message-error {
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #860006;
}

#messagebox  div.message-error h6 {
	color: #860006;
}

#messagebox  div.message-warning {
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #FFF6BF;
	border: 1px solid #FFD324;
	color: #5f5200;
}

#messagebox  div.message-warning h6 {
	color: #5f5200;
}

#messagebox  div.message-notice {
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #8FBDE0;
	border: 1px solid #6BACDE;
	color: #003863;
}

#messagebox  div.message-notice h6 {
	color: #003863;
}

#messagebox  div.message-success {
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #E6EFC2;
	border: 1px solid #C6D880;
	color: #4e6100;
}

#messagebox  div.message-success h6 {
	color: #4e6100;
}