<?xml version="1.0" encoding="UTF-8" ?>
<!--
Project:Easy Web Framework
Description:
EasyFK stands for Easy Web Framework.It's an open source product for E-Business / E-Commerce.It
was launched by a chinese Hezhiping(QQ:110476592) in 2015.The goal of EasyFK is to  provide a
foundation and starting point for reliable, secure , simple-to-use ,cost-effective ,scalable
and suitable-for-Chinese E-Business / E-Commerce solutions. With EasyFK, you can get started
right away without the huge deployment and maintenance costs of E-Business / E-Commerce systems.
Of course, you can customize it or use it as a framework to implement your most challenging business needs.
EasyFk is licensed under the Apache License Version 2.0.  You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Author:hezhiping   Email:110476592@qq.com
-->
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gorun8.easyfk.security.dao.SecurityWriteDao">

	<insert id="createSecurityGroup" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		INSERT INTO security_group(
		GROUP_ID
		,NAME
		,DESCRIPTION
		<if test="IS_SYSTEM!=null">,IS_SYSTEM</if>
		<if test="LAST_UPDATED_STAMP!=null">,LAST_UPDATED_STAMP</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,LAST_UPDATED_TX_STAMP</if>
		<if test="CREATED_STAMP!=null">,CREATED_STAMP</if>
		<if test="CREATED_TX_STAMP!=null">,CREATED_TX_STAMP</if>
		)
		VALUES (
		#{GROUP_ID}
		,#{NAME}
		<if test="DESCRIPTION!=null">,#{DESCRIPTION}</if>
		<if test="DESCRIPTION==null">,#{NAME}</if>
		<if test="IS_SYSTEM!=null">,#{IS_SYSTEM}</if>
		<if test="LAST_UPDATED_STAMP!=null">,#{LAST_UPDATED_STAMP}</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,#{LAST_UPDATED_TX_STAMP}</if>
		<if test="CREATED_STAMP!=null">,#{CREATED_STAMP}</if>
		<if test="CREATED_TX_STAMP!=null">,#{CREATED_TX_STAMP}</if>
		)
	</insert>
	
	<update id="saveSecurityGroup" parameterType="cn.gorun8.easyfk.entity.GenericValue">
        UPDATE security_group
        SET
		NAME = #{NAME}
		<if test="DESCRIPTION!=null">,DESCRIPTION =#{DESCRIPTION}</if>
		<if test="DESCRIPTION==null">,DESCRIPTION= #{NAME}</if>
		<if test="IS_SYSTEM!=null">,IS_SYSTEM =#{IS_SYSTEM}</if>
		<if test="LAST_UPDATED_STAMP!=null">,LAST_UPDATED_STAMP= #{LAST_UPDATED_STAMP}</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,LAST_UPDATED_TX_STAMP= #{LAST_UPDATED_TX_STAMP}</if>
	    WHERE
		GROUP_ID = #{GROUP_ID}
    </update>

	<delete id="removeSecurityGroup" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		DELETE  FROM security_group
		WHERE   GROUP_ID =#{GROUP_ID}
	</delete>



	<insert id="createGroupPermission" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		INSERT INTO security_group_permission(
		GROUP_ID
		,PERMISSION_ID
		<if test="LAST_UPDATED_STAMP!=null">,LAST_UPDATED_STAMP</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,LAST_UPDATED_TX_STAMP</if>
		<if test="CREATED_STAMP!=null">,CREATED_STAMP</if>
		<if test="CREATED_TX_STAMP!=null">,CREATED_TX_STAMP</if>
		)
		VALUES (
		#{GROUP_ID}
		,#{PERMISSION_ID}
		<if test="LAST_UPDATED_STAMP!=null">,#{LAST_UPDATED_STAMP}</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,#{LAST_UPDATED_TX_STAMP}</if>
		<if test="CREATED_STAMP!=null">,#{CREATED_STAMP}</if>
		<if test="CREATED_TX_STAMP!=null">,#{CREATED_TX_STAMP}</if>
		)
	</insert>

	<delete id="removeGroupPermission" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		DELETE  FROM security_group_permission
		WHERE   GROUP_ID = #{GROUP_ID}
	</delete>

	<update id="stopUserLoginSecurityGroup" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		UPDATE  user_login_security_group
		SET THRU_DATE = #{THRU_DATE}
		<if test="LAST_UPDATED_STAMP!=null">,LAST_UPDATED_STAMP=#{LAST_UPDATED_STAMP}</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,LAST_UPDATED_TX_STAMP=#{LAST_UPDATED_TX_STAMP}</if>
		WHERE   USER_LOGIN_ID = #{USER_LOGIN_ID} AND GROUP_ID = #{GROUP_ID}
	</update>

	<insert id="createUserLoginSecurityGroup" parameterType="cn.gorun8.easyfk.entity.GenericValue">
		INSERT INTO user_login_security_group(
		USER_LOGIN_ID
		,GROUP_ID
		,FROM_DATE
		<if test="LAST_UPDATED_STAMP!=null">,LAST_UPDATED_STAMP</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,LAST_UPDATED_TX_STAMP</if>
		<if test="CREATED_STAMP!=null">,CREATED_STAMP</if>
		<if test="CREATED_TX_STAMP!=null">,CREATED_TX_STAMP</if>
		)
		VALUES (
		#{USER_LOGIN_ID}
		,#{GROUP_ID}
		,#{FROM_DATE}
		<if test="LAST_UPDATED_STAMP!=null">,#{LAST_UPDATED_STAMP}</if>
		<if test="LAST_UPDATED_TX_STAMP!=null">,#{LAST_UPDATED_TX_STAMP}</if>
		<if test="CREATED_STAMP!=null">,#{CREATED_STAMP}</if>
		<if test="CREATED_TX_STAMP!=null">,#{CREATED_TX_STAMP}</if>
		)
	</insert>


</mapper>