<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
<mapper namespace="cn.gorun8.easyfk.workflow.dao.LeaveDao">
    <select id="findLeaveById" parameterType="int" resultType="java.util.HashMap">
        select * from oa_leave where id =#{id};
    </select>
    <insert id="addLeave" parameterType="java.util.HashMap"
        useGeneratedKeys="true" keyProperty="id">
        insert into oa_leave(apply_time
        			,end_time
        			,leave_type
        			,process_instance_id
        			,reason
        			,user_id) 
             values(#{aptime},#{endtime},#{type},#{pid},#{reason},#{uid}); 
    </insert>
</mapper>