<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
<mapper namespace="cn.gorun8.easyfk.workflow.dao.TaskHolderDao">
    <select id="findTaskHolderById" parameterType="int" resultType="java.util.HashMap">
        select * from task_holder_conf where id =#{id};
    </select>
</mapper>